@import "partials/__variables";
@import "partials/__game";
@import "partials/__contact";

.container {
	padding-top: 30px;
}

h1{
	text-align: center;
}

.layout {
	width: 100%;
	max-width: 800px;
	padding: 30px;
	background: #ebebeb;
	margin: 0 auto;
}

.search.input-group {
    border: solid lightgray 0.5px;
}


.error {
	color: red;
}
